@import './base.css';

@font-face {
  font-family: 'leferi-white';
  src: url('src/assets/fonts/LeferiPointWhite.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'leferi';
  src: url('src/assets/fonts/LeferiBaseRegular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'leferi-special';
  src: url('src/assets/fonts/LeferiPointSpecial.ttf');
  font-style: normal;
}
body {
  margin: 0;
  background-color: #fff;
}

#app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
